@import url(https://fonts.googleapis.com/css?family=Heebo|Lato:900|Raleway|Roboto:900);body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.company-name {
  margin-top: 0;
  font-size: 1.3em;
}

#experience {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  background-color: lightgrey;
}

#footer {
  display: grid;
  background-color: lightgrey;
  grid-template-columns: 10% 1fr 10%;
}

.header-title {
  text-align: center;
  font-size: 3em;
}

.job-desc {
  grid-column: 2;
}

.job-header {
  grid-column: 1;
}

.job-title {
  margin-bottom: 1em;
}

.main-nav {
  display: grid;
  z-index: 1;
  grid-auto-rows: auto;
  grid-column: 2;
  grid-gap: 1em;
  grid-template-columns: 70% 1fr 1fr;
  padding: 1em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-column-1 {
  grid-column: 2;
}

.nav-column-2 {
  grid-column: 3;
}

#profile {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
}

.profile-col-1 {
  grid-column: 1;
}

.profile-col-2 {
  grid-column: 3;
}

#profile-pic {
  grid-column: 2;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30vh;
}

#projects {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
}

.wrapper-bg-img {
  background: url("/img/adventure-calm-clouds-414171.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.wrapper-experience {
  margin-bottom: 1em;
}

.wrapper-footer {
  grid-column: 2;
}

.wrapper-main {
  grid-column: 2;
}

.wrapper-profile {
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  margin-bottom: 1em;
}

.wrapper-projects {
  grid-column: 2;
}

@media (min-width: 700px) {
  .wrapper-nav {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
  }

  .wrapper-bg-img {
    height: 100vh;
  }

  .wrapper-experience {
    display: grid;
    grid-template-columns: 30% 70%;
  }
}

@media (min-width: 900px) {
  #experience,
  #footer,
  #profile,
  #projects {
    grid-template-columns: 25% 1fr 25%;
  }
}

