@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);#bg-img {
  background: url("/img/Cascade-mountains-in-USA.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  margin: 0;
}

#career {
  color: #deeef5;
  background: #3295be;
  background: -webkit-gradient(linear, left top, left bottom, from(#227daa), to(#51accd));
  background: linear-gradient(#227daa 0%, #51accd 100%);
}

#career-wrapper {
  padding: 1em;
}

.company-name {
  color: white;
}

#contact-wrapper {
  line-height: 1.8em;
}

#email {
  display: block;
}

#footer {
  color: #deeef5;
  background: #3295be;
  background: -webkit-gradient(linear, left top, left bottom, from(#227daa), to(#51accd));
  background: linear-gradient(#227daa 0%, #51accd 100%);
}

#footer-wrapper {
  padding: 1em;
}

.header-title {
  color: white;
  text-align: center;
  font-size: 2.3em;
  margin: 0;
}

.header-title-color {
  color: #3295be;
  text-align: center;
  font-size: 2.3em;
  margin: 0;
}

.icon {
  background-image: url("/img/sm_icon_sprite.png");
  display: inline-block;
  margin-right: 15px;
  float: left;
  height: 32px;
  width: 32px;
}

.icon-email {
  background-position: 0px -96px;
}

.icon-linkedin {
  background-position: 0px -32px;
}

.job-title {
  color: white;
}

#linkedin {
  display: block;
  margin-top: 15px;
}

#profile-pic {
  border-radius: 50%;
  display: block;
  margin: auto;
  height: 30vh;
}

#profile-wrapper {
  padding: 1em;
  color: #58798c;
}

#project-wrapper {
  padding: 1em;
  color: #58798c;
}

.ruler {
  color: #deeef5;
}

.ruler-color {
  color: #3295be;
}

#site {
  max-width: 50em;
  margin: auto;
  font-family: "Raleway", sans-serif;
}

@supports (grid-area: auto) {
@media (min-width: 750px) {
    #site {
      max-width: none;
    }

    #main > *,
    #footer {
      display: grid;
      grid-template-columns: 5% 90% 5%;
    }

    #main > * > *,
    #footer-wrapper {
      grid-column: 2/3;
    }
}

@media (min-width: 900px) {
    #main > *,
    #footer {
      grid-template-columns: 10% 80% 10%;
    }

    #contact-wrapper {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 15px;
    }

    #email {
      grid-column: 1/2;
    }

    #linkedin {
      grid-column: 2/3;
      margin-top: 0;
      margin-left: 15px;
    }
}

@media (min-width: 1080px) {
    #main > *,
    #footer {
      grid-template-columns: 15% 70% 15%;
    }
}

@media (min-width: 1350px) {
    #main > *,
    #footer {
      grid-template-columns: 20% 60% 20%;
    }
}
}

